.preview-wrapper {
  position: relative;
  height: 100%;
  flex: 1;
}

.react-draggable-transparent-selection .preview-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}
